@model ML.Materia
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Materia</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2>@ViewBag.Accion</h2>
            <p>Ingrese los datos de la materia</p>
        </div>
    </div>

    @using (Html.BeginForm("Form", "Materia", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="row">
            <div class="col">
                @*<label>IdMateria</label>
                    <input type="text"/>*@
                @Html.LabelFor(model => model.IdMateria, new { @class = "visually-hidden" })
                @Html.TextBoxFor(model => model.IdMateria, new { @class = "visually-hidden" })
            </div>
        </div>

        <div class="row">
            <div class="col">
                @Html.LabelFor(model => model.Nombre)
                @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control" })
            </div>
        </div>

        <div class="row">
            <div class="col">
                @Html.LabelFor(model => model.Creditos)
                @Html.TextBoxFor(model => model.Creditos, new { @class = "form-control" })
            </div>
        </div>

        <div class="row">
            <div class="col">
                @Html.LabelFor(model => model.Costo)
                @Html.TextBoxFor(model => model.Costo, new { @class = "form-control" })
            </div>
        </div>

        <div class="row">
            <div class="col">
                @Html.LabelFor(model => model.Semestre)
                @Html.TextBoxFor(model => model.Semestre.IdSemestre, new { @class = "form-control" })
            </div>
        </div>
        //asdasdas
        <div class="row">
            <div class="col">
               @Html.LabelFor(model => model.Imagen)
               @* @Html.TextBoxFor(model => model.Imagen, new { @class = "form-control" })*@
                <input type="file" class="btn btn-info" name="Image" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col">
                <input type="submit" class="btn btn-success" value="@ViewBag.Accion" />
                @Html.ActionLink(" Regresar", "GetAll", "Materia", new { area = "" }, new { @class = "btn btn-danger bi bi-backspace" })

            </div>
        </div>


    }
</div>


